*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(48, 46, 46);
}
.slider, img{
    position: relative;
    width: 70vw;
    height: 70vh;
}
img{
    object-fit:cover;
}
.control{
    position: absolute;
    top: 50%;
    width: 100%;
    display: none;
    justify-content: space-between;
}
.gt-sign , .lt-sign{
background-color: rgb(56, 55, 55);
color: rgb(241, 234, 234);
border-radius: 50%;
border: none;
padding: 8px;
}